body {
  color: #222;
  font-size: 12px;
  margin-bottom: 200px;
  overflow: auto;
  background: url(../img/bg.gif);
  font-family: sans-serif;
  line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.block {
  height: 30px;
  width: 30px;
}

.color {
  float: left;
}

.page-heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 1em;
}

.section-heading {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.area-heading {
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1em;
  position: relative;
}

.another-button {
  font-size: 12px;
  line-height: 1.3em;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 0px #bacbeb;
  -moz-box-shadow: 0 1px 0px #bacbeb;
  -webkit-box-shadow: 0 1px 0px #bacbeb;
  padding: 5px 12px;
  border: 1px solid #3b6fd3;
  background-color: #fff;
  color: #4676d3  ;
  text-decoration: none;

}

.another-button:hover {
  color: #444;
  border: 1px solid #888;
  box-shadow: 0 1px 0px #aaa;
  -moz-box-shadow: 0 1px 0px #aaa;
  -webkit-box-shadow: 0 1px 0px #aaa;
}

.another-button:active {
  top: 1px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.another-button.active {
  border: 1px solid #333;
  background-color: #666;
  color: #fff;
  top: 1px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.another-button.has-icon {
  background-position: 12px 5px;
  background-repeat: no-repeat;
}

.another-button.has-icon:hover {
  background-position: 12px -15px;
  background-repeat: no-repeat;
}

.another-button.has-icon.active {
  background-position: 12px -35px;
  background-repeat: no-repeat;
}

.select-button {
  background-image: url(../img/hand-up-icon.png);
  padding-left: 28px;
}

.edit-button {
  background-image: url(../img/edit-icon.png);
  padding-left: 30px;
}

.delete-button {
  background-image: url(../img/trashcan-icon.png);
  padding-left: 27px;
}

.save-button {
  background-image: url(../img/book-icon.png);
  padding-left: 30px;
}

.new-button {
  background-image: url(../img/new-icon.png);
  padding-left: 28px;
}

.copy-button {
  background-image: url(../img/copy-icon.png);
  padding-left: 30px;
}

#bg-fg-switch {
  float: right;
}

.constructor-heading-button-container {
  display: inline-block;
  position: relative;
  top: -10px;
  left: 10px;
}

#copy-block, #delete-block {
  display: none;
}

#remove-layer, #new-layer, #copy-layer {
  margin-bottom: .5em;
}

.area-container {
  border: 1px solid #333;
}

/* Color Palette */

.color-palette .column {
  float: right;
  width: 36px
}

.color-palette {
  float: right;
}

.color-palette .block {
  display: block;
}

.color-palette .palette-element-container {
  padding: 1px;
  border: 2px solid transparent;
  overflow: auto;
  float: left;
}

.color-palette .palette-element-container.selected {
  border: 2px solid #333;
}

#main-color-palette {
  padding: 10px;
  background-color: #fff;
  background-color: rgba(255,255,255,.5);
  clear: both;
  width: 225px;
}

/* top bar */

#main-container-top-bar {
    background: #fff;
    background: rgba(255,255,255,.5);
    padding: 10px 10px 10px 10px;
    overflow: auto;
    width:  882px;
}

#main-color-palette-top-bar {
    background: #fff;
    background: rgba(255,255,255,.5);
    padding: 10px 10px 10px 10px;
    overflow: auto;
    width:  225px;
    float: right;
}


/* Main Section */

#main-container {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
}

#main-area-container {
  width: 900px;
  height: 300px;
  position: relative;
  float: left;
}

/* Constructor */

#constructor-container {
  width: 585px;
  margin: 0 auto;
  background-color: rgba(255,255,255,.5);
  padding: 40px 40px 30px 60px;
}

#constructor-layers-container {
  width: 140px;
  float: left;
}

.layer-container {
  position: relative;
}

.arrow {
  display: none;
}

.layer-container.selected .arrow {
  position: absolute;
  left: -30px;
  top: 0;
  display: block;
}

.constructor-area {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-layers-container .buttons-container {
  margin-bottom: 20px;
}

#constructor-area-container {
  float: left;
  height: 300px;
  width: 300px;
  position: relative;
}

#constructor-area {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-area-shadow {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-color-palette {
  width: 108px;
}

.preview-container {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.layers {
  margin-bottom: 20px;
}

.layers .block {
  margin-bottom: 5px;
}

.option-container {
  clear: both;
  margin-top: 10px;
}

.option {
  display: inline-block;
  margin-left: 4px;
}

.option-container .checkbox {
  float: left;
}

.clear {
  clear: both;
}

















