body {
  color: #222;
  font-size: 12px;
  margin-bottom: 200px;
  overflow: auto;
  background: url(../img/bg.gif);
  font-family: sans-serif;
  line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.block {
  height: 30px;
  width: 30px;
}

.color {
  float: left;
}

.page-heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 1em;
}

.section-heading {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.area-heading {
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1em;
}

.another-button {
  position: relative;
  display: inline-block;
  background: rgb(129,157,211); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(168,183,211,1) 0%, rgba(168,183,211,1) 5%, rgba(129,157,211,1) 50%, rgba(168,183,211,1) 95%, rgba(168,183,211,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(168,183,211,1)), color-stop(5%,rgba(168,183,211,1)), color-stop(50%,rgba(129,157,211,1)), color-stop(95%,rgba(168,183,211,1)), color-stop(100%,rgba(168,183,211,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(168,183,211,1) 0%,rgba(168,183,211,1) 5%,rgba(129,157,211,1) 50%,rgba(168,183,211,1) 95%,rgba(168,183,211,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(168,183,211,1) 0%,rgba(168,183,211,1) 5%,rgba(129,157,211,1) 50%,rgba(168,183,211,1) 95%,rgba(168,183,211,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(168,183,211,1) 0%,rgba(168,183,211,1) 5%,rgba(129,157,211,1) 50%,rgba(168,183,211,1) 95%,rgba(168,183,211,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(168,183,211,1) 0%,rgba(168,183,211,1) 5%,rgba(129,157,211,1) 50%,rgba(168,183,211,1) 95%,rgba(168,183,211,1) 100%); /* W3C */
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.another-button .inner {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #3b6fd3;
  background-color: #fff;
  color: #4676d3  ;
  text-decoration: none;
  margin-bottom: 1px;
}

.another-button:hover .inner {
  color: #444;
  border: 1px solid #666;
}

.another-button:hover {
  background: #aaa; /* Old browsers */
}

.another-button:active {
  background: transparent;
  top: 1px;
}

#remove-layer, #new-layer {
  margin-bottom: 1em;
}

.buttons-container {
  overflow: auto;
}

.area-container {
  border: 1px solid #333;
}

/* Color Palette */

.color-palette .column {
  float: right;
  width: 36px
}

.color-palette {
  float: right;
}

.color-palette .block {
  display: block;
}

.color-palette .palette-element-container {
  padding: 1px;
  border: 2px solid transparent;
  overflow: auto;
}

.color-palette .palette-element-container.selected {
  border: 2px solid #333;
}

#main-color-palette {
  padding: 10px;
  background-color: #fff;
  background-color: rgba(255,255,255,.5);
  clear: both;
}

/* top bar */

#main-container-top-bar {
    background: #fff;
    background: rgba(255,255,255,.5);
    padding: 10px 10px 10px 10px;
    overflow: auto;
    width:  882px;
}

#main-color-palette-top-bar {
    background: #fff;
    background: rgba(255,255,255,.5);
    padding: 10px 10px 10px 10px;
    overflow: auto;
    width:  158px;
    float: right;
}


/* Main Section */

#main-container {
  width: 1100px;
  height: 450px;
  margin: 0 auto;
}

#main-area-container {
  width: 900px;
  height: 300px;
  position: relative;
  float: left;
}

/* Constructor */

#constructor-container {
  width: 560px;
  margin: 0 auto;
  background-color: rgba(255,255,255,.5);
  padding: 40px 40px 30px 60px;
}

#constructor-layers-container {
  width: 140px;
  float: left;
}

.layer-container {
  position: relative;
}

.arrow {
  display: none;
}

.layer-container.selected .arrow {
  position: absolute;
  left: -30px;
  top: 0;
  display: block;
}

.constructor-area {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-layers-container .buttons-container {
  margin-bottom: 20px;
}

#constructor-area-container {
  float: left;
  height: 300px;
  width: 300px;
  position: relative;
}

#constructor-area {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-area-shadow {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-color-palette {
  width: 90px;
}

.preview-container {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.layers {
  margin-bottom: 20px;
}

.layers .block {
  margin-bottom: 5px;
}

.option-container {
  clear: both;
}

.option {
  display: inline-block;
  margin-left: 4px;
}

.option-container .checkbox {
  float: left;
}

.clear {
  clear: both;
}

















