<!DOCTYPE html>
<html ng-app="JourneyShipApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
    <link rel="stylesheet" type="text/css" href="css/journey.css">
    <link rel="stylesheet" type="text/css" href="css/normalize-v2.1.2.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/underscore-v1.4.4.js" type="text/javascript"></script>
    <script src="js/jquery.cookie-v1.3.1.js" type="text/javascript"></script>
    <script src="js/tools.js" type="text/javascript"></script>
    <script src="js/page.js" type="text/javascript"></script>
  </head>
  <body ng-controller="PlayAreaController">
    <h1 class="page-heading">Journey Ship</h1>

    <div class="main-container">
      <ul class="play-area">
        <li ng-repeat="box in boxes" ng-click="draw(box)" ng-mouseover="drawOnMousedown(box)" class="square {{box.color}}"></li>
      </ul>

      <div class="play-area-color-palette">
        <ul class="play-area-color-palette-column-1">
          <li ng-repeat="color in colors" ng-click="select(color.color)" class="square {{color.color}}"></li>
        </ul>
        <ul class="play-area-color-palette-column-2">
          <li ng-repeat="color in grayscales" ng-click="select(color.color)" class="square {{color.color}}"></li>
        </ul>
        <ul class="play-area-color-palette-column-3">
          <li ng-repeat="layersInBlock in customBlocks" class="square">
            <ul animated-boxes="layersInBlock">
            </ul>
          </li>
        </ul>
      </div>
    </div>



    <div class="factory-container">
      <div class="column1">

        <h3 class="section-heading">Preview</h3>

        <ul class="animation-preview-container" animated-boxes="layersInNewSquare">
        </ul>

        <div class="layer-button-container">
          <a class="save-block-button button" href ng-click="saveCustomBlock()">Save Block</a>
          <a class="new-layer-button button" href ng-click="makeNewLayer()">New Layer</a>
        </div>

        <div class="preview-layers-container" ng-show="layersInNewSquare.length > 1">
          <h3 class="section-heading">Layers</h3>

          <ul class="new-square-layer-container icons-ul">
            <li class="square layer" ng-repeat="layer in layersInNewSquare" ng-click="selectLayer(layer)" ng-class="{selected: selectedLayer == layer, last: $last}"><i class="icon-li icon-circle-arrow-right"></i>
              <ul class="tiny-squares-container">
                <li ng-repeat="box in layer" class="square tiny-square {{box.color}}"></li>
              </ul>
            </li>
          </ul>

          <div class="layer-button-container">
            <a class="delete-layer-button" href ng-click="deleteSelectedLayer(layersInNewSquare.indexOf(selectedLayer))">Remove Selected Layer</a>
          </div>
        </div>

      </div>


      <div class="column2">

        <ul class="new-square-creation-area">
          <li ng-repeat="box in selectedLayer" ng-click="drawOnLayer(box)" ng-mouseover="drawOnLayerOnMousedown(box)" class="square {{box.color}}"></li>
        </ul>

      </div>

      <div class="column3">
        <div class="factory-color-palette">
          <ul class="factory-color-palette-column-1">
            <li ng-repeat="color in colors" ng-click="selectColorForLayer(color.color)" class="square {{color.color}}"></li>
          </ul>
          <ul class="factory-color-palette-column-2">
            <li ng-repeat="color in grayscales" ng-click="selectColorForLayer(color.color)" class="square {{color.color}}"></li>
          </ul>
        </div>

      </div>

    </div>

  </body>
</html>