body {
  color: #222;
  font-size: 12px;
  margin-bottom: 200px;
  overflow: auto;
  font-family: sans-serif;
  line-height: 1.3em;
}

.clear {
  clear: both;
}

a {
  color: #296edd;
  text-decoration: none;
}

a:hover {
  color: #3f7de0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.top-backgrounds-container {
  padding: 5px;
  background: #fff;
  float: right;
  padding-left: 0;
}

.background-item {
  background-repeat: repeat;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}

.block {
  height: 60px;
  width: 60px;
}

#constructor-color-palette .block {
  height: 30px;
  width: 30px;
}

.color {
  float: left;
}

.page-heading {
  margin: 20px auto 30px;
  clear: both;
  height: 223px;
  width: 638px;
  text-indent: -9999px;
  overflow: hidden;
}

.section-heading {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.area-heading {
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1em;
  position: relative;
}

.another-button {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.3em;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 12px;
  border: 1px solid #3b6fd3;
  background-color: #fff;
  color: #4676d3  ;
  text-decoration: none;

}

.another-button:hover {
  color: #444;
  border: 1px solid #888;
}

.another-button:active {
  top: 1px;
}

.another-button.active {
  border: 1px solid #333;
  background-color: #666;
  color: #fff;
  top: 1px;
}

.another-button.has-icon {
  background-position: 12px 5px;
  background-repeat: no-repeat;
}

.another-button.has-icon:hover {
  background-position: 12px -15px;
  background-repeat: no-repeat;
}

.another-button.has-icon.active {
  background-position: 12px -35px;
  background-repeat: no-repeat;
}

.select-button {
  background-image: url(../img/hand-up-icon.png);
  padding-left: 28px;
}

.edit-button {
  background-image: url(../img/edit-icon.png);
  padding-left: 30px;
}

.delete-button {
  background-image: url(../img/trashcan-icon.png);
  padding-left: 27px;
}

.save-button.has-icon {
  background-image: url(../img/book-icon.png);
  padding-left: 30px;
  background-position: 12px 6px;
}

.save-button.has-icon:hover {
  background-image: url(../img/book-icon.png);
  padding-left: 30px;
  background-position: 12px -14px;
}

.new-button {
  background-image: url(../img/new-icon.png);
  padding-left: 28px;
}

.copy-button {
  background-image: url(../img/copy-icon.png);
  padding-left: 30px;
}

#bg-fg-switch {
  float: right;
}

.constructor-heading-button-container {
  display: inline-block;
  position: relative;
  top: -10px;
  left: 10px;
}

#edit-block-from-main-canvas, #delete-block-from-main-canvas {
  display: none;
}

#copy-block, #delete-block, #export-block {
  display: none;
}

#remove-layer, #new-layer, #copy-layer {
  margin-bottom: .5em;
}

.area-container {
  border: 1px solid #333;
}

/* Color Palette */

.color-palette {
  float: right;
}

.color-palette .block {
  display: block;
}

.color-palette .palette-element-container {
  padding: 1px;
  border: 2px solid transparent;
  overflow: auto;
  float: left;
}

.color-palette .palette-element-container.selected {
  border: 2px solid #333;
}

#main-color-palette {
  padding: 10px;
  background-color: #eee;
  clear: both;
  width: 1000px;
  border-top: 1px solid #fff;
}

/* top bar */

#main-container-top-bar {
    background: #333;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    width:  1002px;
}

#main-color-palette-top-bar {
    background: #333;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    width:  1000px;
    float: right;
}

/* Parent Container */

.parent-container {
  width: 1020px;
  margin: 0 auto;
}


/* Main Section */

#main-container, .top-button-container {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
}

.top-button-container {
  height: auto;
}

#main-area-container {
  width: 1020px;
  height: 300px;
  position: relative;
  margin-bottom: 10px;
}

/* Constructor */

#constructor-container {
  width: 870px;
  margin: 30px auto 30px;
  background-color: #DCDCDC;
  padding: 40px 40px 30px 60px;
}

#constructor-layers-container {
  width: 140px;
  float: left;
}

.layer-container {
  position: relative;
}

.arrow {
  display: none;
}

.layer-container.selected .arrow {
  position: absolute;
  left: -35px;
  top: 15px;
  display: block;
}

.constructor-area {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-layers-container .buttons-container {
  margin-bottom: 20px;
}

#constructor-area-container {
  float: left;
  height: 600px;
  width: 600px;
  position: relative;
}

#constructor-area {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-area-shadow {
  position: absolute;
  top: 0;
  left: 0;
}

#constructor-color-palette {
  width: 108px;
}

.preview-container {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.layers {
  margin-bottom: 20px;
}

.layers .block {
  margin-bottom: 5px;
}

.option-container {
  clear: both;
  margin-top: 10px;
}

.option {
  display: inline-block;
  margin-left: 4px;
}

.option-container .checkbox {
  float: left;
}

.clear {
  clear: both;
}

.hanging-button {
  float: left;
  margin-right: 10px;
  background: #333;
  padding: 8px 18px;
  color: #fff;
  font-size: 14px;
}

.hanging-button:hover {
  color: #ddd;
  background: #555;
}



.background-image-info {
  float: right;
  color: white;
  margin-top: 250px;
  margin-bottom: 50px;
  font-size: 14px;
  text-shadow: 1px 1px 0px #888;
  -moz-text-shadow: 1px 1px 0px #888;
  -webkit-text-shadow: 1px 1px 0px #888;
}

.background-image-info a {
  color: #eee;
  font-weight: bold;
}

.background-image-info a:hover {
  text-decoration: underline;
}






