<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey Ship</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize-v2.1.2.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">   
  </head>
  <body class="not-found">
    <div class='container'>
      <h1>Sorry, page not found............. <a href='/'>Create a new project?</a></h1>
    </div>
  </body>
</html>









