<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey Ship</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize-v2.1.2.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript">
    if (window.location.hostname.indexOf('localhost') < 0) {
      var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
      heap.load("1971473405");
    }
    </script>
  </head>
  <body>

    <div class='parent-container'>
      <div class='top-backgrounds-container'>
      </div>

      <div class='top-button-container'>
        <a id='new' class='hanging-button' href='/'>New</a>
        <a id='save' class='hanging-button' href='#'>Save</a>
        <div style="clear: both"></div>
        <!--<a id='demo' class='hanging-button' href='/7/1'>View Demo</a>-->    
      </div>

      <div class='main-container'>
        <h1 class="page-heading">Journey Ship</h1>

        <div id='main-container-top-bar'>
          <a id='bg-fg-switch' class='edit-button another-button has-icon' href='#'>Edit Foreground</a>
          <div id='bg-fg-switch-text'>Editing Background Layer</div>
          <a id='select-block-from-main-canvas' class='select-button another-button has-icon' href='#'>Select</a>
          <a id='edit-block-from-main-canvas' class='edit-button another-button has-icon' href='#'>Edit</a>
          <a id='delete-block-from-main-canvas' class='delete-button another-button has-icon' href='#'>Delete</a>
          <div class="show-movement-blocks-container">
            <label><input type='checkbox' id='show-movement-blocks' class='checkbox' checked/> <div class='option'>Show mover blocks</div></label>
          </div>
        </div>

        <div id="main-area-container" class="area-container">
          <canvas id="main-area" width="1020" height="300"></canvas>
        </div>

        <div id='main-color-palette-top-bar'>
          <a id='new-block' class='new-button another-button has-icon' href='#'>New</a>
          <a id='copy-block' class='copy-button another-button has-icon' href='#'>Copy</a>
          <a id='delete-block' class='delete-button another-button has-icon' href='#'>Delete</a>
        </div>

        <div id="main-color-palette" class="color-palette">
        </div>
      </div>
      <div class="clear"></div>

      <div id="constructor-container">
        <h2 class='area-heading'>
          Editing Block
          <div class='constructor-heading-button-container'>
            <a id='save-block' class="save-button another-button has-icon" href="#">Update</a>
            <a id='export-block' class="save-button another-button has-icon" href="#">Transfer to palette</a>          
          </div>
        </h2>
        <div id="constructor-color-palette" class="color-palette">
        </div>

        <div id="constructor-layers-container">
          <h3 class="section-heading">Preview</h3>
          <div id="preview-container" class="preview-container area-container">
            <canvas class='block' width='60' height='60'></canvas>
          </div>

          <h3 class="section-heading">Layers</h3>
          <div class="layers">
          </div>
          <div class="buttons-container">
            <a id="new-layer" class="new-button another-button has-icon" href="#">New Layer</a>
            <a id="copy-layer" class="copy-button another-button has-icon" href="#">Copy Layer</a>
            <a id="delete-layer" class="delete-button another-button has-icon" href="#">Delete Layer</a>
            <div class='option-container'>
              <label><input type='checkbox' id='enable-shadow' class='checkbox' /> <div class='option'>Make top layer<br/>transparent</div></label>
            </div>
          </div>
        </div>

        <div id="constructor-area-container" class="area-container">
        </div>

        <div class='constructor-footer'>
          <div class='import-export-container'>
            <div class='button-holder'><a href='#' id='import-editor-block'>Import</a> / <a href='#' id='export-editor-block'>Export</a></div>
            <div id='export-editor-block-url-container'>
              <div><input id='export-editor-block-url' type='text' /></div>
            </div>
            <div id='import-editor-block-url-container'>
              <div><input id='import-editor-block-url' type='text' /></div>
              <div><a href='#' id='import-editor-block-button' class='another-button'>Import</a></div>
            </div>
          </div>
        </div>

        <div class="clear"></div>
      </div>

      <div class="footer">
        <div class="background-image-info">
          <span>background image:</span> <a class="background-image-name" href="#"></a> by <a class="background-image-artist" href="#"></a>
        </div>
      </div>
    </div>

    <script type="text/javascript" src='/js/jquery-1.10.2.min.js'></script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/jquery.reject.css">    
    <script type="text/javascript" src='/js/jquery.reject.min.js'></script>
    <script type="text/javascript" src='/js/reject.js'></script>
    <![endif]-->

    <!--[if gte IE 9]>-->
    <script type="text/javascript" src='/js/modernizr-custom.js'></script>
    <script type="text/javascript" src='/js/jquery.cookie.js'></script>
    <script type="text/javascript" src='/js/jquery.history.js'></script>
    <script type="text/javascript" src='/js/lodash-v1.3.1.min.js'></script>
    <script type="text/javascript" src='/js/tools.js'></script>
    <script type="text/javascript" src='/js/helpers.js'></script>
    <script type="text/javascript" src='/js/movement.js'></script>
    <script type="text/javascript" src='/js/journeyship.js'></script>
    <!--<![endif]-->

  </body>
</html>









